<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497859891495-6k6i46flgkg49uongqmogsr08i15c3na.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497859891495-6k6i46flgkg49uongqmogsr08i15c3na</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>497859891495-u7abtkb00lfefr2i103sg6v5t15j2t08.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA0P7VwsKpsWPvbIW41pJy29n84-ijw2sU</string>
	<key>GCM_SENDER_ID</key>
	<string>497859891495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fitrayanaf15.appchat</string>
	<key>PROJECT_ID</key>
	<string>chattapp-fitrayana</string>
	<key>STORAGE_BUCKET</key>
	<string>chattapp-fitrayana.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497859891495:ios:a03757105b6ff12cea9902</string>
</dict>
</plist>